
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

img {
    border-radius: 25px;   
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 150px;
    justify-content: space-between;
}

.header2 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 450px;
    align-content: center;
    
}

.left-header {
display: flex;
flex-direction: column;
height: 300px;
width: 536.16px;
gap: 20px;

}

.header-button {
    display: flex;
    background-color: #3882F6;
    font-weight: 600;
    border-radius: 9px;
    padding: 12px;
    width: 100px;
    justify-content: center;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px 150px 150px;
    gap: 100px;
}

.images {
    display: flex;
    gap: 100px;
}

.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}

.content2 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 175px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 1000px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    gap: 20px;
}

.reference {
    display: flex;
    font-size: 25px;
    color: #1f2937;
    font-weight: 600;
    justify-content: end;
    margin-right: 40px;
}

.content3 {
    display: flex;
    padding: 150px;
    justify-content: center;
    align-items: center;
}

.sub-header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subscribe {
    width: 1800px;
    background-color: #3882F6;
    color: white;
    padding: 75px 200px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.content3-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border-color: white;
    border-style: solid;
    padding: 0px 20px;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero {
    font-size: 48px;
    color: white;
    font-weight: 900;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.hero2, 
.headerlinks {
    color: #E5E7EB;
    font-size: 18px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.headerlinks {
    display: flex;
    margin-left: 30px;
}