
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header2 {
    background-color: #1f2937;
}

.content1 {

}

.content2 {
    background-color: #E5E7EB;
}

.content3 {

}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}